<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Joel King">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="http://typo.sofish.de/typo.css">

    <script src="/js/libs/modernizr/modernizr.min.custom.js"></script>
    <script src="/js/libs/zepto/zepto.min.js"></script>
    
</head>

<body>
  <header class="header">
  <div class="wrap">
    <div class="header-avatar"><a class="avatar-link" href="/" style="background-image:url(/assets/img/joel.jpg)"></a></div>

    <hgroup class="header-text">
      <h2 class="header-name"><a class="home-link" href="/">Joel King</a></h2>
      <h3 class="header-title">Co-founder @ dream</h3>
    </hgroup>

    <section class="header-social">
      <ul class="header-social-icons">
        
        <li class="dribbble"><a class="dribbble-icon icon ss-social-circle ss-dribbble" href="http://dribbble.com/cnjoel"></a>
        
        
        <li class="github"><a class="github-icon icon ss-social-circle ss-octocat" href="http://github.com/cnjoel"></a>
        
        
        <li class="twitter"><a class="twitter-icon icon ss-social-circle ss-twitter" href="http://twitter.com/cnjoel"></a>

      </ul>
    </section>
  </div>
</header>
<nav class="nav">
  <a class="home icon ss-standard ss-home" href="/" title="Home"></a>
</nav>

	{{ content }}

</body>

</html>
